<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>Hello World !!!</h3>
<form data-parsley-validate action="" method="post" role="form">
    {% csrf_token %}
    {{ form.as_p }}
  <button type="submit" class="btn waves-effect waves-light light-blue darken-4">Submit</button>
</form>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/parsley.min.js' %}"></script>
</body>
</html>
